<%= render layout: "auth_layout", locals: { title: "Edit account" }  do %>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, data: { turbo: false }) do |f| %>

    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-6">
      <div class="flex space-x-2">
        <%= f.input :fname,  input_html: {  class: input_class, placeholder: 'First Name'}%>
        <%= f.input :lname,  input_html: {  class: input_class, placeholder: 'Last Name'}%>
      </div>
    </div>
    <div class="mb-6">
        <div class="flex space-x-2">
          <%= f.input :city,  input_html: {  class: input_class, placeholder: 'City'}%>
        </div>
    </div>
    <div class="mb-6">
        <div class="flex space-x-2">
          <%= f.input :zipcode,  input_html: {  class: input_class, placeholder: 'Zip Code'}%>
          <%= f.input :state,  input_html: {  class: input_class, placeholder: 'State'}%>
        </div>
    </div>
    <div class="mb-6">
      <%= f.input :level, collection: ['Beginner', 'Somewhat Experienced', 'Many Years Experienced', 'Advanced'], input_html: {  class: input_class, placeholder: 'Level'}%>
    </div>

    <div class="mb-6">
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
    </div>
          <p class="pt-1 text-xs italic text-gray-500 mt-5"> <% if @minimum_password_length %>
          <%= @minimum_password_length %> characters minimum <% end %> (leave blank if you don't want to change it)</p>
    <div class="mb-6">
      <%= f.input :password, autocomplete: false, input_html: {  class: input_class, autocomplete: false}%>
    </div>

    <div class="mb-6">
      <%= f.input :password_confirmation, input_html: { class: input_class} %>
    </div>


    <div class="mb-6">
      <%= f.submit "Update", class: button_class(theme: "primary", variant: "expanded") %>
    </div>
  <% end %>

  <div class="mb-6">
    <hr class="mb-6" />
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: button_class(variant: "small", additional_classes: "border") %>
  </div>
<% end %>
