<%= render layout: "auth_layout", locals: { title: "Sign up" }  do %>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="mb-6">
      <div class="flex space-x-2">
        <%= f.input :fname,  input_html: {  class: input_class, placeholder: 'First Name'}%>
        <%= f.input :lname,  input_html: {  class: input_class, placeholder: 'Last Name'}%>
      </div>
    </div>
    <div class="mb-6">
        <div class="flex space-x-2">
          <%= f.input :city,  input_html: {  class: input_class, placeholder: 'City'}%>
        </div>
    </div>
    <div class="mb-6">
        <div class="flex space-x-2">
          <%= f.input :zipcode,  input_html: {  class: input_class, placeholder: 'Zip Code'}%>
          <%= f.input :state,  input_html: {  class: input_class, placeholder: 'State'}%>
        </div>
    </div>
    <div class="mb-6">
      <%= f.input :level, collection: ['Beginner', 'Somewhat Experienced', 'Many Years Experienced', 'Advanced'], input_html: {  class: input_class, placeholder: 'Level'}%>
    </div>
    <div class="mb-6">
      <%= f.input :email,  input_html: {  class: input_class, placeholder: 'Email'}%>
    </div>

    <div class="mb-6">
      <%= f.input :password,  input_html: {  class: input_class, placeholder: 'Password'}%>
    </div>

    <div class="mb-6">
      <%= f.input :password_confirmation,  input_html: {  class: input_class, placeholder: 'Confirm'}%>
    </div>

    <div class="mb-6">
      <%= f.submit "Sign up", class: button_class(variant: "expanded", theme: "primary") %>
    </div>
  <% end %>
<% end %>
